:root {
    --negro: #1D1616;
    --rojo-oscuro: #8E1616;
    --rojo-claro: #D84040;
    --blanco: #EEEEEE;
}

body {
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#principal-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

p {

}

button {

    width: 20vw;
}