:root {
    --negro: #1D1616;
    --rojo-oscuro: #8E1616;
    --rojo-claro: #D84040;
    --blanco: #EEEEEE;
}

body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--negro);
}

#principal-container {
    margin-top: 32vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

p {
    font-size: 30px;
    font-family: "Almendra SC", serif;
    font-weight: 600;
    font-style: normal;
    color: var(--rojo-claro);
}

button {
    height: 50px;
    width: 30vh;
    border: none;
    border-radius: 20px;
    background-color: var(--rojo-claro);
    cursor: pointer;
    font-family: "Noto Sans", sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: var(--negro)
}

button:hover {
    background-color: var(--rojo-oscuro);
}

#second-button {
    display: none;
}

#images-container {
    width: 100vw;
    display: flex;
    justify-content: space-between;
}

#images-container img{
    width: 20vh;
}

#images-container img:nth-child(2) {
    transform: scaleX(-1);
}

#gif-shadow {
    position: absolute;
    display: none;
    top: 30%;
    margin-left: 20vh;
}


