:root {
    --negro: #1D1616;
    --rojo-oscuro: #8E1616;
    --rojo-claro: #D84040;
    --blanco: #EEEEEE;
}

body {
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--negro);
}

#principal-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

p {
    font-size: 30px;
    font-family: "Almendra SC", serif;
    font-weight: 600;
    font-style: normal;
    color: var(--rojo-claro);
}

button {
    height: 50px;
    width: 20vw;
}